{% load menu_extras %}

        {% for menu_item in menu_items %}
            <a href="{{ menu_item.explicit_url }}">{{ menu_item.name }}</a>
            {% if children %}
            <details {% if item.id in active %} open {% endif %}>
            <summary>

            </summary>
                {% for child in children %}
                <div class="menu_item">
                    {% if child.parent.id == menu_item.id %}
                    {% draw_menu_item child %}

                    {% endif %}
                </div>
                {% endfor %}
            </details>
        

{% endif %}
{% endfor %}